.container {
  width: 12.5rem;
  text-align: center;
  color: var(--BLACK);
}

.container span {
  color: var(--GRAY);
}

.container img {
  height: 12.5rem;
}

.container h2,
.container span {
  text-transform: capitalize;
}
