:root {
  --PRIMARY-COLOR: #f2545f;
  --SECONDARY-COLOR: #090707;
  --GRAY: #707070;
  --WHITE: #fff;
  --ACTIVE: #66ccff;
}

#root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
